* {
  margin: 0;
  padding: 0;
  background-color: rgb(44, 49, 54);
}
canvas {
  background-color: rgb(65, 73, 82);
}
button {
  background-color: purple;
  border: none;
  padding: 1rem 2rem;
}
.container{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}