* {
  margin: 0;
  padding: 0;
  background-color: rgb(44, 49, 54);
  color: white;
}

button {
  background-color: purple;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  max-width: 7rem;
  cursor: pointer;
}
.container{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}